

.oneguess {
border: 10px solid red;
}
.twoguess {
    border: 10px solid red;
}
.threeguess {
    border: 10px solid red;
}
.fourguess {
    border: 10px solid red;
}
.fifthguess {
    border: 10px solid red;
}
.finalguess {
    border: 10px solid red;
}